<h2>Somos una tienda de alto impacto con más de XXXX órdenes entregadas y más de XXXX clientes a nivel mundial</h2>

<script>
    getCustomers()
</script>
    

<script src="{{ 'services.customers.js' | asset_url }}" defer="defer"></script>
