.banner__customers {
    text-align: center;
    font-size: 4rem;
    margin: 3rem auto;
}

.banner__customers h2{
    font-size: 3rem;
}

.banner__customers span{
    font-weight: 900;
    color: gray;
    font-size: 3.3rem;
}